<ul class="flex-item" id="navbar" role="tablist">
  <li class="filterbar medium-text"role="presentation" {{action 'setFilter' ''}}><a href="#">All</a></li>
  <li class="filterbar medium-text" role="presentation" {{action 'setFilter' 'Wednesday'}}><a href="#">Wed</a></li>
  <li class="filterbar medium-text" role="presentation" {{action 'setFilter' 'Thursday'}}><a href="#">Thu</a></li>
  <li class="filterbar medium-text" role="presentation" {{action 'setFilter' 'Friday'}}><a href="#">Fri</a></li>
  <br />
</ul>
<ul id="session-list">
  <div class="flex-item">
    <li>
      {{#if filter}}
        <h2 class="filtername">{{filter}}</h2>
      {{/if}}
      {{#unless filter}}
        <h2 class="filtername">All days</h2>
      {{/unless}}
    </li>
    {{#each item in filteredContent}}
      {{#link-to 'session' item}}
        <li class="well">
          <div id="time-and-place">
            <p id="time"class="small-text grey">{{item.time}} - {{item.time_end}}</p>
            <p id="room" class="small-text grey">{{item.space_name}}</p>
          </div>
          <p id="listitem-title" class="medium-text center grey">{{item.title}}</p>
        </li>
      {{/link-to}}
    {{/each}}
  </div>
</ul>