<div class="flex-container">
  <div class="row">
  <div class="flex-item session-data">
    <p id="ses-time" class="medium-text">{{model.time}} - {{model.time_end}}</p>
    <p id="ses-room" class="medium-text">{{model.space_name}}</p>

    <h1>{{model.title}}</h1>
    <p id="session-abstract" class="medium-text">{{model.abstract}}</p>
  </div>
  <div class="flex-item" id="ratingfield">
    <form class="well" id="rater" action="ratings" enctype='application/json'>
      <label for="new-comment" class="medium-text" id="keytakeaway">KEY TAKEAWAY</label>
      <textarea id="new-comment" type="text" rows="3" class="InputAddOn-field comment" name='comment'></textarea>
      <label for="new-rating" class="medium-text" id="rating">Rating (1-5)</label>
      <select id="new-rating" class="InputAddOn-field rating" name='rating'>
        <option selected></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <br />
      <input name='submit' class="btn-large"type='submit' {{action 'addRating'}}id="btn-submit-rating" >
    </form>
  </div>
  <br />

  <ul class="flex-item">
  <div id="tot">
    <li>Total rating</li>
    <br>
    <li class="well" id="total-rating">{{model.total_rating}}/100</li>
  </div>
  </ul>
  
  <ul class="flex-item">
  <span class="big-text center">User ratings</span>
  {{#each model.ratings}}
  <li class="well fullwidth-nomargin" id="ratings">
  	<p class="medium-text left badge badge-inverse">{{rating}}/5</p>
    <p class="medium-text left">{{comment}}</p>
  </li>
  {{/each}}
  </ul>
  </div>
</div>