<h1>{{title}}</h1>
<strong>Abstract</strong>
<p>{{abstract}}</p>
<label>Starts</label>
<p>{{start_time}}</p>
<label>Ends</label>
<p>{{end_time}}</p>
<div class="InputAddOn">
  <form class="ratingform" action="ratings" enctype='application/json'>
    <input id="new-comment" type="textarea" class="InputAddOn-field comment" name='comment' value='Bender'>
    <select id="new-rating" class="InputAddOn-field rating" name='rating'>
      <option selected></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <input name='submit' type='submit' {{action 'addRating'}}id="btn-submit-rating" >
  </form>
</div>
<label>Other peoples impressions</label>
<ul>
{{#each ratings}}
<li class="ratings-item">
	<p>{{rating}}</p>
</li>
{{/each}}
</ul>
