<h1>{{title}}</h1>
<strong>{{presenter}}</strong>
<strong>{{description}}</strong>
<strong>{{rating}}</strong>
<strong>{{recommendation}}</strong>
<ul>
<label>Areas</label>
{{#each area in areas}}
	<li>{{area}}</li>
{{/each}}
<strong></strong>